/* Global CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: black;

}

/* Global CSS End */

/*===============*/

/* Info CSS */
.box{
    height: 60px;
    background-color: rgb(38,38,38);
    display: flex;
    justify-content: space-between;
    border-bottom:2px solid black ;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.box .logo {
    margin-left: -100px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.box .buy {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;      
}
.buy button{
    margin-right: -50px;
    background-color: rgb(130,180,64);
    width: 100px;
    height: 35px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: rgb(230,252,254);
    border-bottom: 3px solid rgb(107,147,54);
}
.buy button:hover{
    background-color: rgb(116, 173, 43);
}
/* Info CSS End */

/* ============== */

/* Nav-Info CSS */
.nav-info{
    background-color: rgb(38,38,38);
    height: 90px;
    display: flex;
    justify-content: center;
    
}
.nav-box{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-info .logo{
    display: flex;
}
.nav-info .time,.location,.number{
    display: flex;   
}
.time p ,.location p ,.number p{
    align-self: center;
    font-size: 16px;
    color: rgb(230,252,254);
    margin-left: 10px;
    font-weight: 600;
}
/*Nav-info CSS End */

/* ============== */

/* Navbar CSS */
nav{
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-box{
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.nav-item ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 500px;
}
.nav-item ul li {
    font-size: 20px;
    font-weight: 600;
}
/* Navbar CSS End  */

/* =============== */

/* Content CSS */

.container{
    height:700px;
    background:url(Img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    color: white;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container p{

    color: rgb(213,213,214);
    font-size: 30px;
    text-align: center;
}
.container button{
    margin-top: 100px;
    width: 150px;
    height: 50px;
    background-color: rgb(29,105,194);
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.container button:hover{
    background-color: rgb(15, 89, 174);

}

.container-2{
    display: flex;
    justify-content: center;

}
.container-2 .box{
    margin-top: 100px;
    background:transparent ;
    height: 400px;
    display: flex;
    align-items: center;
    border: none;
}
.container-2 .img{
    width: 500px;
}
.container-2 .content1{
    width: 500px;
    margin-left: 100px;
    margin-top: -100px;
}
.container-2 .content1 h1{
    font-size: 40px;
}
.container-2 .content1 p{
    font-size: 20px;
}
.container-2 .content1 button{
    font-size: 20px;
    width: 100px;
    height: 40px;
    background:transparent ;
    border:1px solid rgb(15, 89, 174);
    color:rgb(15, 89, 174);
}

.container-3{
    height:600px ;
    background: url(Img/background_section1a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-3 .bar{
    width: 500px;
}
.bar p{
    color: white;
    font-size: 20px;
    margin-bottom: -10px;
}
.bar .track{
    height: 35px;
    background-color: white;
    margin: 20px 0px;
}
.track .progress{
    width: 90%;
    background-color: rgb(1,92,206);
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
}


.container-3 .box .img{
    width: 500px;
}

.container-4{
    height:800px ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-4 .box1{
    width: 15%;
    height: 80%;
}
.box1 .img1,.img2,.img3{
    height: 32%;
    background-color: aquamarine;
}
.img1{
    background:url(Img/category_motorcycle.jpg)no-repeat center ;
    background-size: cover;
    margin-bottom:4%;
}
.img2{
    background:url(Img/category_boat.jpg)no-repeat center ;
    background-size: cover;
    margin-bottom:5%;
}
.img3{
    background:url(Img/category_bike.jpg)no-repeat center ;
    background-size: cover;
}
.container-4 .pic{
    margin-left: 10px;
    width: 35%;
    height: 80%;
    display: flex;
}
.container--5{
   height: 680px;
   
    display: flex;
    justify-content: space-between;
}
.container--5 .lift{
width: 40%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
margin-left: 80px;
}
.lift h1{
    font-size:40px ;
    margin-bottom: 10px;
}
.lift p{
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: 100;
}
.lift button{
    width: 100px;
    height: 40px;
    border: 2px solid rgb(1,92,206);
    color: rgb(1,92,206);
    background: transparent;
    transition: all 0.2s ;
}
.lift button:hover{
    background: rgb(1,92,206);
    color: white;

}
.container--5 .right{
    width: 50%;
    height: 100%;
    background: url(Img/pic1_section2aa.jpg) no-repeat center ;  

}

.container-6{
    height: 680px;
    background-color: rgb(247,247,247);
    display: flex;
}

.container-6 .lift{
    width: 50%;
    background:url(Img/pic1_section2aaa.jpg)no-repeat center ;
    background-size: cover;
    height: 100%;
}

.container-6 .right{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right div{
    position: relative;
    border: 3px solid black;
    width: 400px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right .mechanical::after{
    position: absolute;
    top: 100%;
    content: "Mechanical Repairs";
    width: 100%;
    border: 3px solid black;
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding-top:10px;
}
.right .bodywork::after{
    position: absolute;
    top: 100%;
    content: "Mechanical Repairs";
    width: 100%;
    border: 3px solid black;
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding-top:10px;
}
/* Container--7-- */
.container-7{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-7 .card{
    width: 400px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(238,240,243);
    margin-left: 50px;
}
.card h1{
    margin-left: -90px;
    font-size: 37px;
    font-weight: 100;
}
.card span{
    width: 80%;
    height: 3px;
    background-color: rgb(220,223,227);
}
.card h2{
    margin-left: -280px;
    font-size: 30px;
}
.card h3{
    margin-left: -190px;
    margin-top: -20px;
    font-size: 30px;
    color:  rgb(188,192,197);
}
.card p{
    text-align: center;
    margin-right: -140px;
    margin-bottom: -20px;
    
}
.card button{
    margin-top: 20px;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: rgb(31,113,208);
    color: white;
    font-size: 25px;
}
/* Container--8-- */
.container-8{
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container-8 .box32{
    background-color: rgb(31,113,208);
    height: 400px;
    width: 70%;
    display: flex;
    margin-bottom: 40px;
    
}
.box32 .img,.content{
    width: 50%;
    height: 100%;
}
.box32 .content{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: start;
    padding-left: 40px;
}
.content h1{
    font-size: 40px;
    color: white;

}
.content .info{
    font-size: 20px;
    margin-top: -50px;
    background:url(Img/info-1.png)no-repeat center ;
    width: 100%;
    height: 50px;  
    cursor: pointer;  

}
.content p{
    font-size: 24px;
    color: white;
    line-height: 40px;
    font-weight: 100;
}
.content button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
}
.container-9{

    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-9 .icon{
    width: 200px;
    height: 100%;
    margin: 10px;
}
.container-10{
 
    background-color: antiquewhite;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.container-10 .left{
    width: 50%;
    height: 100%;
}

.container-10 .right{
    border: none;
    background:url(Img/form.png) no-repeat;
    background-position: center;
    background-size: cover;



    width: 50%;
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container-10 .center{
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 50px;
    position: relative;
    border: none;
}

/* container-11 */
.container-11{
    height: 100px;
  background-color:rgb(37,37,37);
  display: flex;
  justify-content: space-between;
}
.container-11 .l-1{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 200px;
    width: 50%;
    height: 100%;
}
.container-11 .r-2{
   display: flex;
   align-items: center;
   justify-content: center;
    width: 50%;
    height: 100%;

}
.r-2 p{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    
}
